@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Montserrat', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
}

h1,
.text-5xl {
  font-size: 52px !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800 !important;
  text-transform: uppercase !important;
}

@keyframes underline {
  0% {
    width: 0;
    opacity: 1;
  }
  10% {
    width: 10%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
.animate-underline {
  display: block;
  height: 0.25em;
  background: #ef4444;
  border-radius: 9999px;
  animation: underline 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1 !important;
}

.svg-underline-animate path {
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
  animation: svg-underline-draw 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes svg-underline-draw {
  to {
    stroke-dashoffset: 0;
  }
}

.svg-underline-static path {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
}
